[user]
  name = Fabian Neuschmidt
  email = fabian@neuschmidt.de

[includeIf "gitdir/i:viperdev/"]
  path = .gitconfig-viperdev
[includeIf "gitdir/i:icadev/"]
  path = .gitconfig-icarus
[core]
  editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[credential "helperselector"]
	selected = manager
